/* CSS taken from https://getcssscan.com/css-buttons-examples */
.button-84v {
    align-items: center;
    background-color: #2E2E2E;
    border-color: #FFF;
    border-radius: 8px;
    border-width: 2;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1),0 3px 6px rgba(0, 0, 0, .05);
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    font-family: expo-brand-demi,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 3em;
    justify-content: center;
    line-height: 1;
    height: 2em;
    margin: 0;
    outline: none;
    overflow: hidden;
    padding: 0 32px;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all 150ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-84v:hover {
    box-shadow: rgba(0, 17, 0, 0.2) 0 2px 8px;
    opacity: .9;
  }
  
  .button-84v:active {
    outline: 0;
  }
  
  .button-84v:focus {
    box-shadow: rgba(0, 0, 0, .5) 0 0 0 2px;
  }
  
  @media (max-width: 420px) {
    .button-84v {
      height: 48px;
    }
  }